{
  "presets": [["@babel/preset-env", { "targets": { "node": "12" } }]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "./utils": "utils",
          "./cleaners": "cleaners",
          "./resource": "resource",
          "./extractors": "extractors",
          "./test-helpers.js": "test-helpers",
          "./mercury.js": "mercury"
        }
      }
    ]
  ]
}
